@font-face {
	font-family: "Apfel Brukt";
	src: url("assets/fonts/ApfelGrotezk-Brukt.woff2");
	font-weight: 500;
}
@font-face {
	font-family: "Apfel";
	src: url("assets/fonts/ApfelGrotezk-Regular.woff2");
	font-weight: 500;
}
@font-face {
	font-family: "Apfel";
	src: url("assets/fonts/ApfelGrotezk-Fett.woff2");
	font-weight: 700;
}
@font-face {
	font-family: "Bashful";
	src: url("assets/fonts/GDBashfulVF.woff2");
}
@font-face {
	font-family: "Caffeine";
	src: url("assets/fonts/GDCaffeineVF.woff2");
}
@font-face {
	font-family: "Dreidel";
	src: url("assets/fonts/GDDreidelVF.woff2");
}
@font-face {
	font-family: "Mini Mochi";
	src: url("assets/fonts/GDMiniMochiVF.woff2");
}
@font-face {
	font-family: "Music Box";
	src: url("assets/fonts/GDMusicBoxVF.woff2");
}
@font-face {
	font-family: "PowerPack";
	src: url("assets/fonts/GDPowerPackVF.woff2");
}
@font-face {
	font-family: "That Then This";
	src: url("assets/fonts/GDThatThenThisVF.woff2");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--blue: #57b6fe;
	--red: #ff4476;
	--yellow: #ffba0b;
	--green: #8feca5;
	--purple: #ca8fec;
	--orange: #ff8752;
	--gray: #777;
	--fontsize: 10vw;
	--tracking: 0em;
	--leading: 1em;
}
body {
	background-color: var(--gray);
	transition: background-color .2s;
}
.background {
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	background-color: #aaa;
	mix-blend-mode: multiply;
}
.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	display: grid;
	overflow: scroll;
	grid-template-columns: 1fr minmax(500px, 500px);
}
.container[data-controls="0"] {
	display: grid !important;
	grid-template-columns: 1fr !important;
	grid-template-rows: 1fr !important;
}
.message {
	background-color: rgba(0,0,0,.8);
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	z-index: 9;
	color: white;
	font-size: 24px;
	padding: 10px;
	font-family: "Apfel", "Comic Sans MS", "Comic Sans", cursive;
	animation: 1s 2s message forwards;
	cursor: none;
	text-align: center;
}
.container[data-controls="1"] .message {
	display: none;
}
@keyframes message {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
	opacity: 1;
}

/* Instrument */
.stage {
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 100vh;
	background-color: white;
	border: 2px solid black;
	box-shadow: 5px 5px 0 black;
	margin: 20px;
	overflow: hidden;
	background-color: white;
}
.title {
	font-family: "Arial", "Comic Sans MS", "Comic Sans", cursive;
	font-size: 15vw;
	text-align: center;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	font-weight: normal;
	user-select: none;
	overflow: visible;
}
.title span {
	width: .5em;
	height: .5em;
	display: inline-flex;
	align-items: center;
	transition: transform .5s cubic-bezier(0.76, 0, 0.24, 1);
}
.container[data-intro="0"] .title {
	display: none;
}
.stage-border {
	width: 100%;
	height: 100%;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.content {
	font-size: var(--fontsize);
	text-align: center;
	padding: 20px;
	line-height: var(--leading);
}
.container[data-intro="1"] .content {
	display: none;
}
.letter {
	display: inline-block;
	transition: all .5s ease-in-out;
	text-align: center;
	position: relative;
	mix-blend-mode: multiply;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0 var(--tracking);
	pointer-events: none;
	user-select: none;
	width: .5em;
	height: .5em;
	font-family: "Arial";
}
.letter-effect {
	z-index: -1;
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1em;
	height: 1em;
}
.letter-effect svg {
	width: 100%;
	height: 100%;
	transition: .2s;
}
@media only screen and (max-width: 1600px) {
	.title {
		font-size: 10vw;
	}
}
@media only screen and (max-width: 1100px) {
	.title {
		font-size: 5vw;
	}
}
@media only screen and (max-width: 800px) {
	.title {
		font-size: 15vw;
	}
}

/* Controls */
.controls {
	font-family: "Apfel", "Arial", sans-serif;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	padding-left: 0;
	max-height: 100vh;
	overflow-y: scroll;
}
.container[data-controls="0"] .controls {
	display: none;
}
.controls-section {
	border-bottom: 2px solid black;
	background-color: var(--blue);
	box-shadow: 5px 5px 0 black;
	border: 2px solid black;
}
.controls-section-title {
	text-align: center;
	background-color: black;
	color: white;
	text-transform: uppercase;
	line-height: 1.2em;
	padding: .3em 0 .4em 0;
	letter-spacing: .1em;
	font-weight: bold;
	font-size: 10px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 9;
}

/* ———————————————————————————————————————— */
/* INPUT */
/* ———————————————————————————————————————— */
#input {
	background-color: var(--blue);
}
#input-text {
	font-family: "Apfel", "Comic Sans MS", "Comic Sans", cursive;
	width: calc(100% - 20px);
	font-size: 24px;
	height: 64px;
	text-align: center;
	background-color: white;
	margin: 10px;
	border: 2px solid black;
	animation: input-placeholder .5s infinite alternate ease-in-out;
	box-shadow: 2px 2px 0 black;
	resize: none;
}
.container[data-intro="0"] #input-text {
	animation: unset;
}
#input-text:focus {
	outline: unset;
}
#input-text::placeholder {
	color: black;
}
#input-text:hover::placeholder {
	opacity: .5;
}
@keyframes input-placeholder {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(.8);
	}
}

/* ———————————————————————————————————————— */
/* SEQUENCER */
/* ———————————————————————————————————————— */
#sequencer {
	background-color: var(--yellow);
	overflow-y: scroll;
	min-height: 300px;
	flex-grow: 1;
}
.container[data-intro="1"] #sequencer {
	opacity: .2;
	pointer-events: none;
}

/* Sequencer labels */
.controls-sequencer-labels {
	border-bottom: 2px solid black;
	font-size: 10px;
	display: flex;
	align-items: end;
	text-transform: uppercase;
	line-height: 1.2em;
	gap: 4px;
	letter-spacing: .05em;
	font-weight: bold;
	padding: 30px 10px 0 10px;
	position: sticky;
	top: 19px;
	z-index: 9;
	background-color: var(--yellow);
}
.controls-sequencer-labels-letter {
	flex-grow: 1;
}
.controls-sequencer-labels-toggle {
	flex-shrink: 0;
	transform: translateX(10px);
	width: 30px;
}
.controls-sequencer-labels-toggle span {
	display: block;
	transform: rotate(-45deg);
	transform-origin: bottom left;
}
.controls-sequencer-labels-time {
	flex-shrink: 0;
	width: 60px;
	text-align: right;
}
.controls-sequencer-labels-divider {
	border-right: 1px solid rgba(0,0,0,.5);
	height: 15px;
	margin: 0 2px 4px 4px;
}

/* Sequencer letters */
.controls-sequencer-letter {
	display: flex;
	align-items: center;
	gap: 4px;
	border-bottom: 1px solid black;
	padding: 10px;
	position: relative;
	fill: black;
	color: black;
}
.controls-sequencer-letter[data-flash="1"] {
	background-color: white;
}
.controls-sequencer-letter-spacer {
	flex-grow: 1;
}
.controls-sequencer-letter-label {
	font-size: 24px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 500;
	z-index: 1;
	position: relative;
	pointer-events: none;
}
.controls-sequencer-letter-toggle {
	flex-shrink: 0;
	user-select: none;
	border: 2px solid black;
	height: 30px;
	width: 30px;
	cursor: pointer;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 18px;
	font-weight: bold;
	box-shadow: 2px 2px 0 black;
	background-color: white;
	z-index: 1;
	position: relative;
}
.controls-sequencer-letter-toggle svg {
	width: 20px;
	height: 20px;
}
.controls-sequencer-letter-toggle:hover {
	transform: translate(-2px, -2px);
	box-shadow: 4px 4px 0 black;
}
.controls-sequencer-letter-toggle:active {
	transform: translate(2px, 2px);
	box-shadow: unset;
}
.controls-sequencer-letter-toggle[data-highlight="1"] {
	animation: letter-highlight .2s ease-in-out infinite alternate;
}
@keyframes letter-highlight {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(.8);
	}
}
.controls-sequencer-letter-time {
	border: 2px solid black;
	height: 30px;
	width: 60px;
	font-family: "Apfel", "Comic Sans MS", "Comic Sans", cursive;
	padding: 2px;
	text-align: center;
	background-color: unset;
	font-weight: bold;
	font-size: 14px;
	flex-shrink: 0;
	background-color: white;
	box-shadow: 2px 2px 0 black;
	z-index: 1;
	position: relative;
}
.controls-sequencer-letter-time[data-highlight="1"] {
	animation: letter-highlight .2s ease-in-out infinite alternate;
}
.controls-sequencer-letter-time:hover {
	background-color: white;
}
.controls-sequencer-letter-time:focus {
	outline: unset;
	background-color: white;
}
.controls-sequencer-letter-divider {
	border-right: 1px solid black;
	height: 30px;
	margin: 0 2px 0 4px;
	position: relative;
	z-index: 1;
}
.controls-sequencer-letter-trigger {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100%;
	cursor: pointer;
}
.controls-sequencer-letter-trigger:hover {
	background-color: white;
}
.controls-sequencer-letter-trigger:active {
	opacity: .5;
}

/* Sequencer setall */
#setall {
	background-color: black;
	color: white;
	fill: white;
	border-bottom: 2px solid black;
}
#setall .controls-sequencer-letter-toggle {
	border: 2px solid white;
	background-color: black;
	box-shadow: 2px 2px 0 white;
	animation: unset;
}
#setall .controls-sequencer-letter-toggle:hover {
	transform: translate(-2px, -2px);
	box-shadow: 4px 4px 0 white;
}
#setall .controls-sequencer-letter-toggle:active {
	transform: translate(2px, 2px);
	box-shadow: unset;
}
#setall .controls-sequencer-letter-time {
	border: 2px solid white;
	color: white;
	background-color: black;
	box-shadow: 2px 2px 0 white;
	animation: unset;
}
#setall .controls-sequencer-letter-divider {
	border-right: 1px solid white;
}

/* ———————————————————————————————————————— */
/* TRANSPORT */
/* ———————————————————————————————————————— */
#transport {
	background-color: var(--red);
}
.container[data-intro="1"] #transport {
	opacity: .2;
	pointer-events: none;
}
.controls-transport-content {
	display: grid;
	grid-template-columns: 1fr 0fr 1fr;
	padding: 10px;
	align-items: stretch;
}

/* Transport content */
.controls-transport-label {
	margin-bottom: 2px;
	text-transform: uppercase;
	line-height: 1.2em;
	letter-spacing: .1em;
	font-weight: bold;
	font-size: 10px;
}
.controls-transport-toggles {
	display: flex;
	gap: 4px;
}
.controls-transport-divider {
	width: 1px;
	background-color: black;
	margin: 0 8px 0 10px;
}
.controls-transport-toggle {
	flex-grow: 1;
	border: 2px solid black;
	text-align: center;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 2px 0 black;
	background-color: white;
	fill: black;
	cursor: pointer;
}
.controls-transport-toggle svg {
	height: 10px;
}
.controls-transport-toggle[data-active="0"] {
	background-color: var(--red);
}
.controls-transport-toggle[data-state="0"] #play {
	display: none;
}
.controls-transport-toggle[data-state="1"] #pause {
	display: none;
}
.controls-transport-toggle:hover {
	box-shadow: 4px 4px 0 black;
	transform: translate(-2px, -2px);
}
.controls-transport-toggle:active {
	box-shadow: unset;
	transform: translate(2px, 2px);
}

/* Controls settings */
.controls-settings {
	background-color: var(--purple);
	border-bottom: 2px solid black;
	box-shadow: 5px 5px 0 black;
	border: 2px solid black;
}
.container[data-intro="1"] .controls-settings {
	opacity: .2;
	pointer-events: none;
}

/* ———————————————————————————————————————— */
/* SETTINGS */
/* ———————————————————————————————————————— */
#settings {
	background-color: var(--purple);
}
.container[data-intro="1"] #settings {
	opacity: .2;
	pointer-events: none;
}
.controls-settings-content {
	padding: 10px;
	display: grid;
	overflow-x: scroll;
	grid-template-columns: 1fr 0fr 1fr 0fr 1fr 0fr 1fr;
}

.controls-settings-section {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.controls-settings-label {
	margin-bottom: 2px;
	text-transform: uppercase;
	line-height: 1.2em;
	letter-spacing: .1em;
	font-weight: bold;
	font-size: 10px;
	white-space: nowrap;
}
.controls-settings-section-btns {
	display: flex;
	gap: 4px;
}
.controls-settings-btn {
	flex-grow: 1;
	border: 2px solid black;
	text-align: center;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	background-color: white;
	box-shadow: 2px 2px 0 black;
	cursor: pointer;
	font-weight: bold;
	min-width: 24px;
}
.controls-settings-btn svg {
	height: 10px;
}
.controls-settings-btn:hover {
	box-shadow: 4px 4px 0 black;
	transform: translate(-2px, -2px);
}
.controls-settings-btn:active {
	box-shadow: unset;
	transform: translate(2px, 2px);
}
.controls-settings-divider {
	width: 1px;
	background-color: black;
	margin: 0 8px 0 10px;
}
.controls-settings-btn[data-state="0"] {
	background-color: var(--purple);
}

/* ———————————————————————————————————————— */
/* PRESETS */
/* ———————————————————————————————————————— */
#presets {
	background-color: var(--green);
}
.container[data-intro="1"] #presets {
	opacity: .2;
	pointer-events: none;
}
.controls-presets-content {
	padding: 10px;
	display: grid;
	overflow-x: scroll;
	grid-template-columns: 1fr 0fr 2fr 0fr 1fr;
}

.controls-presets-section {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.controls-presets-label {
	margin-bottom: 2px;
	text-transform: uppercase;
	line-height: 1.2em;
	letter-spacing: .1em;
	font-weight: bold;
	font-size: 10px;
	white-space: nowrap;
}
.controls-presets-section-btns {
	display: flex;
	gap: 4px;
}
.controls-presets-btn {
	flex-grow: 1;
	border: 2px solid black;
	text-align: center;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	background-color: white;
	box-shadow: 2px 2px 0 black;
	cursor: pointer;
	font-size: 12px;
	letter-spacing: .04em;
	font-weight: bold;
	min-width: 24px;
}
.controls-presets-btn svg {
	height: 10px;
}
.controls-presets-btn:hover {
	box-shadow: 4px 4px 0 black;
	transform: translate(-2px, -2px);
}
.controls-presets-btn:active {
	box-shadow: unset;
	transform: translate(2px, 2px);
}
.controls-presets-divider {
	width: 1px;
	background-color: black;
	margin: 0 8px 0 10px;
}

/* ———————————————————————————————————————— */
/* FONTBOX */
/* ———————————————————————————————————————— */
#fontbox {
	background-color: var(--orange);
}
.container[data-intro="1"] #fontbox {
	opacity: .2;
	pointer-events: none;
}
.controls-fontbox-content {
	padding: 10px;
	display: grid;
	overflow-x: scroll;
	grid-template-columns: 1fr 0fr 1fr;
}

.controls-fontbox-section {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.controls-fontbox-label {
	margin-bottom: 2px;
	text-transform: uppercase;
	line-height: 1.2em;
	letter-spacing: .1em;
	font-weight: bold;
	font-size: 10px;
	white-space: nowrap;
}
.controls-fontbox-section-btns {
	display: flex;
	gap: 4px;
}
.controls-fontbox-btn {
	flex-grow: 1;
	border: 2px solid black;
	text-align: center;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	background-color: white;
	box-shadow: 2px 2px 0 black;
	cursor: pointer;
	font-size: 12px;
	letter-spacing: .04em;
	font-weight: bold;
	min-width: 24px;
}
.controls-fontbox-btn svg {
	height: 10px;
}
.controls-fontbox-btn:hover {
	box-shadow: 4px 4px 0 black;
	transform: translate(-2px, -2px);
}
.controls-fontbox-btn:active {
	box-shadow: unset;
	transform: translate(2px, 2px);
}
.controls-fontbox-divider {
	width: 1px;
	background-color: black;
	margin: 0 8px 0 10px;
}

/* ———————————————————————————————————————— */
/* CREDITS */
/* ———————————————————————————————————————— */
.credits {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: white;
	padding: 80px;
	font-family: "Apfel", sans-serif;
	text-align: center;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	gap: 80px;
	overflow-y: scroll;
	transform-origin: bottom right;
	transform: rotate(-90deg);
	transition: transform 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.credits[data-active="1"] {
	transform: rotate(0deg);
}
.credits section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}
.credits-divider {
	height: 2px;
	background-color: black;
	width: 100%;
	flex-shrink: 0;
}
.credits-callout {
	font-size: .8em;
	letter-spacing: .2em;
	border: 2px solid black;
	padding-left: .2em;
	text-transform: uppercase;
}
.credits h2 {
	font-size: 5vw;
	text-transform: uppercase;
	border: 2px solid black;
	padding: 5px 20px;
	box-shadow: 2px 2px 0 black;
	animation: credits-heading 1s infinite alternate ease-in-out;
}
@keyframes credits-heading {
	0% {
		box-shadow: 0px 0px 0 black;
	}
	100% {
		box-shadow: 6px 6px 0 black;
		transform: translate(-6px, -6px);
	}
}
.credits p {
	font-size: 5vw;
}
.credits a {
	color: black;
}
.credits a:hover {
	text-decoration: none;
}
.credits a:active {
	opacity: .5;
}
.credits-close {
	position: sticky;
	bottom: 0;
	z-index: 9;
	background-color: var(--orange);
	font-weight: bold;
	align-self: end;
	font-size: 24px;
	text-transform: uppercase;
	border: 2px solid black;
	font-family: "Apfel", sans-serif;
	padding: 5px 20px;
	box-shadow: 2px 2px 0 black;
	transform: translate(-2px, -2px) rotate(-2deg);
	cursor: pointer;
}
.credits-close:hover {
	box-shadow: 6px 6px 0 black;
	transform: translate(-6px, -6px) rotate(-2deg);
}
.credits-close:active {
	box-shadow: 0px 0px 0 black;
	transform: translate(0px, 0px) rotate(-2deg);
}

/* ———————————————————————————————————————— */
/* MOBILE */
/* ———————————————————————————————————————— */
@media only screen and (max-width: 800px) {
	.container {
		overflow-y: scroll;
		display: block;
	}
	.stage-border {
		min-height: 300px;
	}
	.controls {
		padding: 20px;
		padding-top: 0;
		max-height: unset;
	}
	.controls-sequencer-labels {
		position: static;
	}
	.controls-sequencer-content {
		overflow: scroll;
		min-width: 500px;
	}
	.credits {
		padding: 40px;
		gap: 40px;
	}
	.credits section {
		gap: 20px;
	}
}